[Unit]
Description=cloud9

[Service]
ExecStart=/usr/local/bin/node /usr/src/app/server.js -w /root -p 8080 -l 0.0.0.0 -a root:resin
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target